#CandleGrid {
    justify-content:center;
    display:grid;
    grid-template-rows:auto auto auto auto auto;
    margin-left: 1.2em;
}

#Wrapper {
    display:flex;
}

#lighter {
    float: left;
    margin-top:5em;
    margin-left: 23.8em;
}
