.ramblegraph
{
    font-size:135%;
    text-align:center;
}
.looplink
{
    color:black;
    text-decoration:none;
}
.pageclue
{
    text-align:center;
    font-size:160%;
    text-decoration:underline;
}
.audioDiv {
    display: flex;
    justify-content: center;
}
audio {
    height: 5em;
}
form {
text-align: left;
}
