.sheepdiv
{
    text-align:center;
}
.sheepimg {
    width: 5%;
    height: 5%;
}
.pens {
    margin-top: 3%;
    height: 33%;
    width: 100%;
    display: flex; 
    justify-content: space-around;
}
.pen {
    width: 33%;
    height: 100%;
}
#pen1 {
    width: 100%;
    height: 100%;
}
#pen2 {
    width: 100%;
    height: 100%;
}
#pen3 {
    width: 100%;
    height: 100%;
}
